body{
background-color: purple;
 background-repeat: no-repeat;
}
#bigbox{
  height: 230px;
  width: 400px;
  background-color: red; 
  align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 25px;
}
#smallbox{
  height: 150px;
  width: 300px;
  background-color: #4293f5;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
  font-size: 40px;
  text-align: center;
}
#title{
  background-color: purple;
  height: 35px;
  width: 58px;
  margin-left: auto;
  margin-right: auto;
  font-famliy: serif;
  font-size: 25px;
}
#button{
padding: 10px 20px;
  
}
#Time{
 padding: 50px;
}
